<header>
  <h1 class="logo">Mono-wishlist</h1>
  <ul>
    <ng-container *ngIf="authService.currentUser$ | async sa user; else login">
      <li><a class="text_header" routerLink="/user"*ngIf = "user$ | async as user">{{user.email}}</a></li>
      <li><a class="text_header" routerLink="" (click)="logout()"> logout</a></li>
    </ng-container>
    <ng-template #login>
      <li><a class="text_header" routerLink="/auth/login">login</a></li>
      <li><a class="text_header" routerLink="/auth/registration">registration</a></li>
    </ng-template>
  </ul>
</header>
