<div class="form-container mat-elevation-z5">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Email adress" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        email is required</mat-error
      >
      <mat-error *ngIf="email?.errors?.['email']">
        enter the correct format</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        password is required</mat-error
      >
    </mat-form-field>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">login</button>
    </div>

    <span class="center margin-top"
      >New User?
      <a class="sing-up-link" routerLink="../registration">Sign Up!</a></span
    >
  </form>
</div>
