/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text_header{
  font-family: sans-serif;
  color:#3d3783;
  text-decoration: none;
  font-size:20px;
  font-weight: 600;
}
.text{
  font-family: sans-serif;
  color:#a8a4c7;
  text-decoration: none;
  font-size:16px;
  font-weight: 700;
}
